__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/

.env
.venv/
env/
venv/

outputs/
data/
datasets/
checkpoints/
wandb/
logs/
*.ckpt
*.pth
*.pt
*.ply
*.zip
*.tar
*.tar.gz
*.7z

tiny-cuda-nn/
